/*table, th, td {
    border: 1px solid black;
}
th,  td {
    padding: 15px;
    text-align: left;
}
*/
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  

  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
 
input[type=checkbox] {width:120px; height:20px;text-align:center; vertical-align:middle}